@import url('https://rsms.me/inter/inter-ui.css');

.masthead h1{
	background: -webkit-linear-gradient(rgba(255,255,255,.8),rgba(255,255,255,.4));
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-family: 'Open Sans', sans-serif;
	/*font-family:Times, "Times New Roman", "serif";*/
}

.btn-primary{
	background-color: #6D8FAD;
}

.btn-primary:hover{
	background-color: #5C7891;
}

p a{
	color: #6D8FAD;
}

p a:hover{
	color: #5C7891;
}

footer {
    padding: 2rem 0;
}

.inter{
	font-family: 'Inter UI', sans-serif;
}

.blog{
	padding-top: 3em;
	background-color: #F8F9FA !important;
	text-align: left !important;
}